@model adminpage.Models.WorldBoundary

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>WorldBoundary</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FugitiveStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FugitiveStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GeneralInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GeneralInfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EntryDoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EntryDoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegDoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegDoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Transport)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Transport)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Housing)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Housing)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nutrition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nutrition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pets)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pets)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Charity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Charity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddInfo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Gid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
